/*
 * FONTS
 */

$primary-font: "Inria Sans", sans-serif;
$secondary-font: "Inter", sans-serif;
$headers-font: "Mont", sans-serif;
$font-size: 16px;

/*
 * COLORS
 */

$color-white: #ffffff;

$button-light: #60acb7;
$button-dark: #2c1722;
$button-form: #ec9d97;

$section-background: #f5f2ef;
$footer-background: #c4c4c4;
$social-background: #e5dee2;
